{% extends "base.html" %}

{% block naslov %}Izmeni belesku{% endblock %}

{% block sadrzaj %}
    <h1>Izmeni belesku</h1>

    <form action="{{ url_for('izmeni', id=beleska.id) }}" method="post" class="forma forma-nova-beleska">
        <input type="text" name="naslov" value="{{ beleska.naslov }}" required autofocus>
        <textarea name="opis" rows="3" placeholder="Opis (opciono)...">{{ beleska.opis }}</textarea>
        <input type="text" name="kategorija" value="{{ beleska.kategorija }}" placeholder="Kategorija (opciono)" class="kategorija-unos">
        <button type="submit">Sacuvaj</button>
    </form>

    <p><a href="{{ url_for('pocetna') }}">Nazad na sve beleske</a></p>
{% endblock %}
